<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIVE</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bgStyle.css">
    <link rel="stylesheet" href="/stylesheets/scroll.css">
    <link rel="stylesheet" href="/stylesheets/master.css">
</head>
<body class='bg bge bgImg'>
  <header class='fixed'>
    <span class="login"><img src="http://35.221.127.218:3000/profile/img/<%= pid %>" alt="" class='profileImg'></span>
    <ul class='userDropdown hidden'>
      <a href="/"><li>검색</li></a>
      <a href="/user/liked"><li>좋아요 목록</li></a>
      <a href="/user/logout"><li>로그아웃</li></a>
    </ul>
  </header>

  <div class="covra2 warp liked">
      <ul class="likedTable">
        <a class="searchA" href=""><li class="searchRow"><span class="searchTitle">어벤져스: 인피니티 워</span><span class="searchType">영화</span></li></a>
        <a class="searchA" href=""><li class="searchRow"><span class="searchTitle">어벤져스: 엔드 게임</span><span class="searchType">영화</span></li></a>
        <a class="searchA" href=""><li class="searchRow"><span class="searchTitle">어벤져스</span><span class="searchType">영화</span></li></a>

        <% for (let i; i < 10; i++) { %>
          <a class="searchA" href=""><li class="searchRow"><span class="searchTitle">어벤져스: 인피니티 워</span><span class="searchType">영화</span></li></a>
        <% } %>
      </ul>
  </div>

  <div class='logo'>
    <img src="/images/HIVE white.png" alt="HIVE">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/javascripts/sid.js" charset="utf-8"></script>
  <script src="/javascripts/sidinit.js" charset="utf-8"></script>
  <script src="/javascripts/userfavicon.js" charset="utf-8"></script>
  <script type="text/javascript">
    var liked = '<%= liked %>';
    liked = JSON.parse(liked.split('&#34;').join('"'));
    for (let like in liked) {
      $('.likedTable').append('<a class="searchA" href="/movie/' + like + '"><li class="searchRow"><span class="searchTitle">' + liked[like] + '</span></li></a>')
    }
  </script>
</body>
</html>
