<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIVE</title>
    <link rel="stylesheet" href="/stylesheets/tempMovie.css">
    <link rel="stylesheet" href="/stylesheets/bgStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class='bg bge bgImg'>
    <div class="box">
      <div class="title">
        <div class="poster">
          <img id="poster" src="https://movie-phinf.pstatic.net/20190417_250/1555465284425i6WQE_JPEG/movie_image.jpg" alt="">
        </div>
        <div class="movieDesc">
          <div class='titles'>
            <div class="movie">어벤져스: 엔드게임 (2019)</div>
            <div class='movieTitleEn'>Avengers: Endgame (2019)</div>
          </div>

            <div class="rating">
              <div class="naverMovie ratingBox">
                <img src="https://ssl.pstatic.net/static/m/movie/icons/naver_movie_favicon.ico" alt="">
                <span class='criticPoint'>7.0</span>
              </div>
              <div class="watcha ratingBox">
                <img class="img-circle" src="/images/watcha-favicon.png" alt="">
                <span class='criticPoint'>7.0</span>
              </div>
              <div class="IMDb ratingBox">
                <img src="https://m.media-amazon.com/images/G/01/imdb/images/safari-favicon-517611381._CB483525257_.svg" alt="">
                <span class='criticPoint'>7.0</span>
              </div>
              <div class="metacritic ratingBox">
                <img class="img-circle" src="https://pbs.twimg.com/profile_images/527528131171590144/EQXs3lpX_400x400.png" alt="">
                <span class='criticPoint'>7.0</span>
              </div>
            </div>


            <div class="watahaplay ratingBox vod">
              <img class="img-circle" src="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/fc/1d/dc/fc1ddc14-ebf5-6a8d-5479-1833d2879d6a/AppIcon-0-1x_U007emarketing-0-0-85-220-0-7.png/246x0w.jpg" alt="">
              <span class='wONWP'>Watch on<br>Watcha Play</span>
            </div>

          </div>
        </div>
        <hr>

        <div class="image">
          <div>
            <img src="https://movie-phinf.pstatic.net/20190423_104/1555994321040d2AcJ_JPEG/movie_image.jpg" alt="">
            <img src="https://movie-phinf.pstatic.net/20190423_41/1555994321935RJdum_JPEG/movie_image.jpg" alt="">
            <img src="https://movie-phinf.pstatic.net/20190423_151/1555994322346BRMOe_JPEG/movie_image.jpg" alt="">
          </div>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="/javascripts/tempJs.js"></script>
</body>

</html>
