@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);

body{
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

* {box-sizing:border-box}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 10px;
  position: absolute;
  top: 0;
}

.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.stroy{
  letter-spacing:1px;
  line-height:25px;
  text-align: left;
  padding: 2rem 4rem 4rem 4rem;
}

.img-circle{
  border-radius: 50%;
}

.stroy p{
  margin-bottom: 3rem;
}

.box {
  position:relative;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  box-sizing: border-box;
  width: 50%;
  min-width: 815px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  padding: 50px 80px;
}

.poster {
  width: 140px
}

.poster img{
  width: 100%;
  max-width: 16em;
  min-width: 8em;
  margin-right: 1rem;
}

.title{
  display: flex;
}

.movieDesc {
  display: inline;
  vertical-align: top;
  margin-left: 2rem;
  position: relative;
}

.movie{
  font-weight: bold;
  font-size: 28px;
  display: inline;
  vertical-align: top;
}

.sub{
  text-align: left;
}

.image {
  overflow-x: scroll;
}

.image img {
  height : 200px;
  margin-right: 5px
}

.image > div {
  display: flex;
}

/*
 * General styles.
 * Not necessary for the component to work
*/
.rating{
  display: flex;
  margin-right: 4px;
  border-left: 5px;
}

.rating div{
  font-size: 13px;
  margin-bottom: 1em;
  display: inline-block;
}

.rating img{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin: 5px;
}

.ratingBox {
  display: flex !important;
  margin-right: 10px;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.naverMovie {
  background-color: #01c73c;
  color: white;
}
.watcha {
  background-color: white;
}

.IMDb {
  background-color: #f5c518;
}

.metacritic {
  background-color: white;
}

.metaCriticGreen {
  background-color: #66cc33 !important;
}

.metaCriticYellow {
  background-color: #ffcc33 !important;
}

.metaCriticRed {
  background-color: #ff0000 !important;
  color: white;
}

.criticPoint {
  padding: 8px 0px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.movieTitleEn {
  color: grey;
  font-size: 15px;
}

.titles {
  margin-bottom: 10px;
}

.vod {
  background-color: black;
}

.vod img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.watchaPlay {
  width: 190px;
}

.amazonPrime {
  width: 270px;
}

.wONWP {
    padding: 2px 0px;
    height: 50px;
    vertical-align: middle;
    font-size: 18px;
    color: white;
}

.flex {
  display: flex;
}

.related {
  overflow: scroll;
}

.watchaMore{
  display: inline-block;
  padding: 1px 25px;
  background-color: Gainsboro;
  border-radius: 3px;
  margin: 2px 2px;
}

.login{
  position: fixed;
    color: #fff;
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 10pt;
    position: fixed;
    right: 1%;
    top: 2%;
    text-decoration: none;
}

.fixed {
  position: fixed;
}

.likey {
    background-image:url(/images/like.svg);
    width: 30px;
    height: 30px;
    right: 90px;
    top: 60px;
}

.emptyLikey {
  background-image:url(/images/likeEmpty.svg) !important;
}

.profileImg {
  width: 50px;
  border-radius: 25px;
  border: 1px solid white;
  box-sizing: border-box;
}
