@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 10px;
  position: absolute;
  top: 0;
}

.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.stroy{
  letter-spacing:1px;
  line-height:25px;
  text-align: left;
  padding: 2rem 4rem 4rem 4rem;
}

.img-circle{
  border-radius: 50%;
}

.stroy p{
  margin-bottom: 3rem;
}

.box {
  position:relative;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  box-sizing: border-box;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  padding: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3rem;
}

.poster {
  width: 140px
}

.poster img{
  width: 100%;
  max-width: 16em;
  min-width: 8em;
  margin-right: 1rem;
}

.title{
  display: flex;
}

.movieDesc {
  display: inline;
  vertical-align: top;
  margin-left: 2rem;
  position: relative;
}

.movie{
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 4px;
  display: inline;
  vertical-align: top;
}

.sub{
  text-align: left;
}

.image {
  overflow-x: scroll;
}

.image img {
  height : 200px;
  margin-right: 5px
}

.image > div {
  display: flex;
}

/*
 * General styles.
 * Not necessary for the component to work
*/
.rating{
  display: flex;
  margin-right: 4px;
  border-left: 5px;
}

.rating div{
  font-size: 13px;
  margin-bottom: 1em;
  display: inline-block;
}

.rating img{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin: 5px;
}

.ratingBox {
  display: flex !important;
  margin-right: 10px;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.naverMovie {
  background-color: #01c73c;
  color: white;
}
.watcha {
  background-color: white;
}

.IMDb {
  background-color: #f5c518;
}

.metacritic {
  background-color: white;
}

.criticPoint {
  padding: 8px 0px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.movieTitleEn {
  color: grey;
  font-size: 15px;
}

.titles {
  margin-bottom: 10px;
}

.vod {
  background-color: black;
  width: 190px;
}

.vod img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.wONWP {
    padding: 2px 0px;
    height: 50px;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}
